<div class="modal-content" ng-controller="commentEditPopupController">
  <div class="modal-header">
    <h4 class="modal-title text-center">{{popup.title}}</h4>
    <button type="button" class="close text-right" data-dismiss="modal" ng-click="openPopup">&times;</button>
  </div>
  <div class="modal-body">
    <!--Put your content here-->
    <input type="textarea" name="maintext" class="form-control" ng-model="clickedItem.comment"/>
  </div>
  <div class="modal-footer">
    <!--Put any buttons here-->
    <div class="row">
      <div class="col-sm-12">
        <button ng-click="delete()" class="btn btn-danger">Delete</button>
        <button ng-click="save()" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
