<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
                <h1 class="text-center">Post Management</h1>
                <!--We need some way to search all accounts, not just these categories so I've added this-->
                <div class="container">
                        <input type="text" placeholder="Search" class="form-control main-search" ng-model="postManagement.search" ng-change="inputChange()">
                </div>
                <div ng-show="postManagement.searchResults.length > 0">
                    <table st-table="rowCollection" class="table table-striped" style="float: left;">
                        <thead>
                            <tr>
                                <th scope="col">Score</th>
                                <th scope="col">Title</th>
                                <th scope="col">Author</th>
                                <th scope="col">Date/Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="post in postManagement.searchResults" ng-click="openPopup(profileEditPopup,post)">
                                <td>{{post.score}}</td>
                                <td>{{post.title}}</td>
                                <td>{{post.author}}</td>
                                <td>{{post.date}} {{post.time}}</td>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
        </div>

    </div>
<div class="row">
    <div class="col-sm-6">
        <h3 class="text-center">Latest Posts</h3>
        <table st-table="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Score</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date/Time</th>
                </tr>

                <tr>
                    <th>
                        <input st-search="'Score'" placeholder="search for Score" class="input-sm form-control" type="search" ng-model="postManagement.latestPosts.title" ng-change="titleInputChanged()"/>
                    </th>
                    <th colspan="4">
                        <input st-search placeholder="global search" class="input-sm form-control" type="search" ng-model="postManagement.latestPosts.query" ng-change="queryInputChanged()"/>
                    </th>
                </tr>
            </thead>

            <tbody>
                <!-- not sure if this code is right -->
                <tr ng-repeat="post in postManagement.latestPosts.posts" ng-click="openPopup(postEditPopup,post)">
                    <td>{{post.score}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.author}}</td>
                    <td>{{post.date}} {{post.time}}</td>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-sm-6">
        <h3 class="text-center">Recently Created Review</h3>
        <table st-table="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Score</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date/Time</th>
                </tr>

                <tr>
                    <th>
                        <input st-search="'Score'" placeholder="search for Score" class="input-sm form-control" type="search" ng-model="postManagement.recentlyCreatedReview.title" ng-change="titleInputChanged()"/>
                    </th>
                    <th colspan="4">
                        <input st-search placeholder="global search" class="input-sm form-control" type="search" ng-model="postManagement.recentlyCreatedReview.query" ng-change="queryInputChanged()"/>
                    </th>
                </tr>
            </thead>

            <tbody>
                <!-- not sure if this code is right -->
                <tr ng-repeat="review in postManagement.recentlyCreatedReview.posts" ng-click="openPopup(postEditPopup,review)">
                    <td>{{review.score}}</td>
                    <td>{{review.title}}</td>
                    <td>{{review.author}}</td>
                    <td>{{review.date}} {{review.time}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <h3 class="text-center">Recently Created Thread</h3>
        <table st-table="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date/Time</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="'Title'" placeholder="search for Title" class="input-sm form-control" type="search" ng-model="postManagement.recentlyCreatedThread.title" ng-change="titleInputChanged()"/>
                    </th>
                    <th colspan="4">
                        <input st-search placeholder="global search" class="input-sm form-control" type="search" ng-model="postManagement.recentlyCreatedThread.query" ng-change="queryInputChanged()"/>

                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- not sure if this code is right -->
                <tr ng-repeat="thread in postManagement.recentlyCreatedThread.posts" ng-click="openPopup(postEditPopup,thread)">
                    <td>{{thread.title}}</td>
                    <td>{{thread.author}}</td>
                    <td>{{thread.date}} {{thread.time}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-sm-6">
        <h3 class="text-center">Recently Created Comment</h3>
        <table st-table="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date/Time</th>
                </tr>

                <tr>
                    <th>
                        <input st-search="'Title'" placeholder="search for Title" class="input-sm form-control" type="search" ng-model="postManagement.recentlyCreatedComment.title" ng-change="titleInputChanged()"/>
                    </th>
                    <th colspan="4">
                        <input st-search placeholder="global search" class="input-sm form-control" type="search" ng-model="postManagement.recentlyCreatedComment.query" ng-change="queryInputChanged()"/>
                    </th>
                </tr>
            </thead>

            <tbody>
                <!-- not sure if this code is right -->
                <tr ng-repeat="comment in postManagement.recentlyCreatedComment.posts" ng-click="openPopup(postEditPopup,comment)">
                    <td>{{comment.title}}</td>
                    <td>{{comment.author}}</td>
                    <td>{{comment.date}} {{comment.time}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
</div>
