<div class="container-fluid" ng-controller="loggedInDropdown">
  <div class="row">
    <div class="col-sm-12">
      <a ng-click="openProfile()" href="#">{{profile.email}}</a>
      <a ng-show="profile.admin" href="/admin"></a>
      <!--chnages the dropdown to the logged in version-->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <!--sets the column spacing-->
      <button type="submit" class="btn btn-primary" ng-click="signOut()">Sign Out</button>
      <!--once the sign out button is clicked, takes the user to the login dropdown-->
    </div>
  </div>
</div>
