<div class="container-fluid" ng-controller="loggedInDropdown">
  <div class="row">
    <div class="col-sm-12">
      <a ng-click="openProfile()" href="#">Profile</a>
      <!--chnages the dropdown to the logged in version-->
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
        <!--sets the column spacing-->
        <!--shows the recently viewd pages-->
        <h3>Recently Viewed</h3>

      </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <!--sets the column spacing-->
          <button type="submit" class="btn btn-primary" ng-click="signOut()">Sign Out</button>
          <!--once the sign out button is clicked, takes the user to the login dropdown-->
        </div>
      </div>
</div>
