<div class="container-fluid" ng-controller="loginDropdown">
  <div class="row">
    <div class="col-sm-12">
        <form>
          <!--Form field for entering email-->
          <div class="row">
            <div class="col-sm-12">
                <input type="email" name="Email" placeholder="Email" class="form-control" ng-model="email">
            </div>
          </div>
          <!--form field for entering Password-->
          <div class="row">
            <div class="col-sm-12">
                <input type="password" name="Password" placeholder="Password" class="form-control" ng-model="password">
            </div>
          </div>
          <!--button to allow user to login-->
          <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary text-center" ng-click="login()">Login</button>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                <!--changes dropdown to signup page instead onece they click link-->
                  <a href="#" ng-click="openSignUp()">Need an account? Click Here</a>
              </div>
            </div>
        </form>
    </div>
  </div>
</div>
