<div class="container-fluid" ng-controller="signUpDropdown"> 
  <div class="row">
    <div class="col-sm-12">
        <form>
          <div class="row">
            <div class="col-sm-12">
                <input type="email" name="Email" placeholder="Email" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <input type="password" name="Password" placeholder="Password" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary " ng-click="signUp()">Sign Up</button>
              <div class="alert alert-danger" role="alert" ng-show="warningMessage!=''">
                <strong>Error!</strong> {{warningMessage}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <a href="#" ng-click="openLogin()">Have an Account? Click Here</a>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
