<div class="container-fluid" ng-controller="signUpDropdown"> 
  <div class="row">
    <div class="col-sm-12">
        <form ng-submit="signUp()">
          <div class="row">
            <div class="col-sm-12">
                <input type="username" id="username" name="Username" placeholder="Username" class="form-control" ng-model="username" required>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <input type="password" id="password" name="Password" placeholder="Password" class="form-control" ng-change="checkPassword()" ng-model="password" required>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <input type="password" id="password2" name="Password" placeholder="Re-Enter Password" class="form-control" ng-change="checkPassword()" ng-model="password2" required>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary">Sign Up</button>
              <div class="alert alert-danger" role="alert" ng-show="warningMessage!=''">
                <strong>Error!</strong> {{warningMessage}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <a href="#" target="_self" ng-click="openLogin()">Have an Account? Click Here</a>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
