.main-search{
  margin-bottom:2rem;
}

.selected{
  background-color:lightblue !important;
}

/*Home*/
.home-right {
  text-align: left;
}
@media(min-width:576px)
{
  .home-right{
    text-align: right;
  }
}

/*Dropdown*/
.dropdown {
  display: inline;
  margin-left: auto;
}

/*Popup*/
.modal.show{
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.fade {
  transition: none;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media(min-width: 576px)
{
  .modal-dialog{
    position: relative;
    width: auto;
    max-width: none !important;
    margin: 10px;
  }
  .modal-dialog > div > div{
    height: auto;
    width: fit-content;
  }
}
.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Spinner*/
.spinner-container{
  flex-direction: column;
  font-family: 'Supermassive Black Hole';
  top:0;left:0;
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
/*http://tobiasahlin.com/spinkit/*/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
