html {
  height: 100%;
}

body {
  background-color: #FF6600;
  /*Makes footer stay at bottom*/
  position: relative;
  height:auto;
  min-height:100%;
}

main {
  max-height:100%;
  overflow: auto !important;
  margin-bottom: 20vh;
}

.header {
  background-color: #cc6600;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
}

.header a {
  float: right;
}

.routing-view {
  overflow: auto;
}

.footer {
  background-color: #cc6600;
  position: fixed !important;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.footer>nav>a {
   color: black;
}

.footer>nav>a:hover {
  color: white;
  text-decoration: none;
}

/* Home page: */

@font-face {
font-family: "Supermassive Black Hole";
src: url("fonts/Supermassive Black Hole.ttf");
}

.hometitle {
  width:100%;
  font-size:1rem;
  display: flex;
  font-family: 'Supermassive Black Hole';
  flex-direction: column;
  justify-content: center;
}
@media(min-width: 576px)
{
  .hometitle {
    display: flex;
    font-family: 'Supermassive Black Hole';
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
} 
.hometitle input {
  margin-top:1rem;
  width: 100%;
}

.collage {
  display:grid;
  grid-template-rows: repeat(12,8.33%);
  grid-auto-rows: 5%;
  grid-auto-flow: row dense;
  height: 70vh;
  overflow-x:hidden;
  overflow-y:auto;
}
.grid-center {
  grid-row:1/span 20;
  grid-column: 1/span 12;
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
}
@media(min-width: 576px)
{ 
  /*Desktop*/
  .collage {
    display:grid;
    grid-template-rows: repeat(20,5%);
    grid-auto-columns: 4.15%;
    grid-auto-flow: column dense;
    height: 70vh;
    max-height: 70vh;
    overflow-x:auto;
    overflow-y: hidden;
  }
  .grid-center {
    grid-row:1/span 20;
    grid-column: 1/span 24;
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
  }
}
.anime {
  margin:1%;
  border-radius: 1rem;
}
.anime--1 {
  grid-column: auto/span 1;
  grid-row: auto/span 1;
}
.anime--2 {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}
.anime--3 {
  grid-column: auto/span 4;
  grid-row: auto/span 4;
}
.anime--4 {  
  grid-column: auto/span 8;
  grid-row: auto/span 8;
}
.anime--5 {
  grid-column:auto/span 12;
  grid-row: auto/span 12;
}
.anime-summary {
  border-radius: 1rem;
  visibility: hidden;
  background-color: rgba(192, 192, 192, 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
}
.anime:hover p {
  visibility: visible;
}
#bottom-collage {
  margin-bottom:10vh;
}
/*Anime Popup*/
#anime-popup-body{
  overflow:auto;
}
.anime-popup {
  height: 80vh;
}
.anime-popup-bg {
  opacity:0.3;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position:absolute;
  height:100%;
  width:100%;
}
.netflix,.crunchyroll,.funimation,.viewster,.animax,.hidive,.amazonprime {
  width:10vh;
  height:10vh;
}
.netflix{
  background-image: url('/images/netflix.png');
  background-size: 100% 100%;
}
.crunchyroll{
  background-image: url('/images/crunchyroll.png');
  background-size: 100% 100%;
}
.funimation{
  background-image: url('/images/funimation.png');
  background-size: 100% 100%;
}
.viewster{
  background-image: url('/images/viewster.png');
  background-size: 100% 100%;
}
.animax{
  background-image: url('/images/animax.png');
  background-size: 100% 100%;
}
.hidive{
  background-image: url('/images/hidive.jpg');
  background-size: 100% 100%;
}
.amazonprime{
  background-image: url('/images/amazonprime.png');
  background-size: 100% 100%;
}
.post-container{
  overflow: auto;
  max-height:none;
}
@media(min-width: 576px)
{
  .post-container{
    overflow:auto;
    max-height:48vh;
  }
}
/* Profile page: */

.profiletitle {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
}

/*Dropdown*/
.navbar-brand {
  /*Hides brand name but still keeps its height. Needed to make collapse work*/
  visibility: hidden;
  font-family: 'Supermassive Black Hole';
}
/*Popup*/
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.loading {
  overflow: hidden !important;
}
.spinner-container{
  background-color: #FF6600;
  position:fixed;
  flex-direction: column;
  font-family: 'Supermassive Black Hole';
  top:0;left:0;
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
/*http://tobiasahlin.com/spinkit/*/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(min-width: 576px)
{
  .modal-dialog{
    position: relative;
    width: auto;
    max-width: none !important;
    margin: 10px;
  }
  .modal-dialog > div > div{
    height: 97vh;
  }
}
/*About page*/

#about_title{
  text-align: center;
  font-family: 'Supermassive Black Hole';
}

#about_div img{
  width: 200px;
  height: 200px;
  float: right;
  margin: 5px;

}

#about_div{
  column-count: 2;
  display: block;
  width: 400px;
  height: 300px;
  float: left;
}

#aboutImg {
  width: 100% !important;
}

#image-carousel {
  height: 100%;
  width: 100%;
}
.carousel-image {
  height: 40vh !important;
  width: 100%;
  max-height: 40vh;
}

/*contact-us*/

#contact-us_title{
  text-align: center;
  font-family: 'Supermassive Black Hole';
}

#contact_sub {
  margin-top: 1rem;
}

/*Review and Thread Edit*/
.post-input{
  height: 100%;
}

/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}