/* All pages: */

body {
  background-color: #FF6600;
}

.header {
  background-color: #cc6600;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
}

.header a {
  float: right;
}

.footer {
  background-color: #cc6600;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

/* Home page: */

.hometitle {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.hometitle input {
  width: 100%;
}

.collage {
  display: block;
  margin: auto;
  max-width:50%;
  max-height:50%;
}

/* Profile page: */

.profiletitle {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.profilebody {
}

/*Dropdown*/
.navbar-brand {
  /*Hides brand name but still keeps its height. Needed to make collapse work*/
  visibility: hidden !important;
}
/*Popup*/
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media(min-width: 576px)
{
  .modal-dialog{
    position: relative;
    width: auto;
    max-width: none !important;
    margin: 10px;
  }
  .modal-dialog > div > div{
    height: 97vh;
  }
}
/*About page*/

#about_title{
  text-align: center;
}

#about_div img{
  width: 200px;
  height: 200px;
  float: right;
  margin: 5px;

}

#about_div{
  column-count: 2;
  display: block;
  width: 400px;
  height: 300px;
  float: left;
}

#about_img {
  width: 100% !important;
}

/*contact-us*/

#contact-us_title{
  text-align: center;

}
