<div class="container-fluid" ng-controller="loginDropdown"> 
  <div class="row">
    <div class="col-sm-12">
        <form>
          <div class="row">
            <div class="col-sm-12">
                <input type="email" name="Email" class="formSpacing" placeholder="Email" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <input type="password" class="formSpacing" name="Password" placeholder="Password" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="formSpacing" class="btn btn-primary text-center" ng-click="login()">Login</button>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <a href="#" ng-click="openSignUp()">Need an account? Click Here</a>
              </div>
            </div>
        </form>
    </div>
  </div>
</div>
