<div class="modal-content" ng-controller="postEditPopupController">
  <div class="modal-header">
    <h4 class="modal-title text-center">{{popup.title}}</h4>
    <button type="button" class="close text-right" data-dismiss="modal" ng-click="openPopup">&times;</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" name="title" class="form-control" ng-model="postEdit.title"/>
          <input type="textarea" name="maintext" class="form-control" ng-model="postEdit.text"/>
        </div>
      </div>
      <div class="col-sm-6">
        <input type="number" name="score" class="form-control" ng-model="postEdit.score"/>
        <h3 class="text-center">Comments</h3>
        <table class="table">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date/Time</th>
          </tr>
          <tr ng-repeat="comment in postEdit.comments">
            <td>{{comment.title}}</td>
            <td>{{comment.author}}</td>
            <td>{{comment.date}} {{comment.time}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-12">
        <button ng-click="delete()" class="btn btn-danger">Delete</button>
        <button ng-click="save()" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
