<div ng-controller="profile-edit.html">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <input type="text" name="name" class="form-control" value="{{profileEdit.name}}"/>
      </div>
      <div class="col-sm-4">
        <input type="text" name="email" class="form-control" value="{{profileEdit.email}}"/>
      </div>
      <div class="col-sm-4">
        <input type="text" name="password" class="form-control" value="{{profileEdit.password}}"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3 class="text-center">Reviews</h3>
        <table class="table">
          <tr>
            <th scope="col">Score</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date/Time</th>
          </tr>
          <tr ng-repeat="review in profileEdit.reviews">
            <td>{{review.score}}</td>
            <td>{{review.title}}</td>
            <td>{{review.author}}</td>
            <td>{{review.date}} {{review.time}}</td>
          </tr>
        </table>
      </div>
      <div class="col-sm-4">
        <h3 class="text-center">Threads</h3>
        <table class="table">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date/Time</th>
          </tr>
          <tr ng-repeat="thread in profileEdit.threads">
            <td>{{thread.title}}</td>
            <td>{{thread.author}}</td>
            <td>{{thread.date}} {{thread.time}}</td>
          </tr>
        </table>
      </div>
      <div class="col-sm-4">
        <h3 class="text-center">Comments</h3>
        <table class="table">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date/Time</th>
          </tr>
          <tr ng-repeat="comment in profileEdit.comments">
            <td>{{comment.title}}</td>
            <td>{{comment.author}}</td>
            <td>{{comment.date}} {{comment.time}}</td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>
