<div class="container">

  <div class="hometitle">
    <!--Robbie download your font, put it in repo and link it. Set h1 tag below to that font and add fancy detailing you had as a background image to this div-->
    <h1 class="title text-center">{Anime*Senpai}</h1>
    <input id="homesearch" type="text" placeholder="Search" class="form-control" ng-model="home.search" ng-change="inputChange()">
  </div>

  <div ng-show="home.search.length > 0">
    <h3>Search Results</h3>
    <div class="collage">
        <div id="search-loader" ng-show="searchLoading">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
        <div ng-show="!searchLoading" ng-repeat="anime in home.anime.searchResults" class="anime" ng-class="anime.size" style="background-image:url({{anime.img}});background-size:cover" ng-click="openPopup(animePopup,anime)"><p class="anime-summary">{{anime.summary}}</p></div>
    </div>
  </div>

  <!--Example of how you might do this because you were taking too long-->
  <div class="collage" ng-show="home.anime.specialBlend.length>0">
    <div ng-repeat="anime in home.anime.specialBlend" class="anime" ng-class="anime.size" style="background-image:url({{anime.img}});background-size:cover" ng-click="openPopup(animePopup,anime)"><p class="anime-summary">{{anime.summary}}</p></div>
  </div>

  <h3>Classics</h3>
  <div class="collage">
    <div ng-repeat="anime in home.anime.classics" class="anime" ng-class="anime.size" style="background-image:url({{anime.img}});background-size:cover;" ng-click="openPopup(animePopup,anime)"><p class="anime-summary">{{anime.summary}}</p></div>
  </div>

  <h3>Best American</h3>
  <div class="collage">
    <div ng-repeat="anime in home.anime.bestAmerican" class="anime" ng-class="anime.size" style="background-image:url({{anime.img}});background-size:cover;" ng-click="openPopup(animePopup,anime)"><p class="anime-summary">{{anime.summary}}</p></div>
  </div>

  <h3>Best Indie</h3>
  <div class="collage">
    <div ng-repeat="anime in home.anime.bestIndie" class="anime" ng-class="anime.size" style="background-image:url({{anime.img}});background-size:cover;" ng-click="openPopup(animePopup,anime)"><p class="anime-summary">{{anime.summary}}</p></div>
  </div>

</div>
