<div class="container">
  <h1>{{profile.email}}</h1>
  <button class="btn btn-primary" ng-click="editProfile(profile)">Edit</button>
  <!-- 3 column layout for a user's reviews, threads and comments: -->
  <div class="row">
    <div class="col-sm-4">
      <h2>Reviews</h2>

    </div>
    <div class="col-sm-4">
      <h2>Threads</h2>

    </div>
    <div class="col-sm-4">
      <h2>Comments</h2>

    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <span>Reviews</span>
        </div>
        <div class="card-body">
          <div id="reviewaccordion">
            <div class="card" ng-repeat="review in clickedItem.reviews">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#reviewcollapse{{$index}}">
                  {{review.title}}
                </a>
              </div>
              <div id="reviewcollapse{{$index}}" class="collapse" data-parent="#reviewaccordion">
                <div class="card-body">
                  <p>{{review.score}}</p>
                  <p>{{review.author}}</p>
                  <p>{{review.review}}</p>
                </div>
                <div class="card-footer">
                  <button class="btn btn-primary" ng-click="deleteReview(review)">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <span>Threads</span>
        </div>
        <div class="card-body" id="threadaccordion">
          <div class="card" ng-repeat="thread in clickedItem.threads">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#threadcollapse{{$index}}">
                {{thread.title}}
              </a>
            </div>
            <div id="threadcollapse{{$index}}" class="collapse" data-parent="#threadaccordion">
              <div class="card-body">
                <p>{{thread.author}}</p>
                <p>{{thread.review}}</p>
              </div>
              <div class="card-footer">
                <button class="btn btn-primary" ng-click="deleteThread(thread)">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
            
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <span>Comments</span>
          </div>
          <div class="card-body" id="commentaccordion">
            <div class="card" ng-repeat="comment in clickedItem.comments">
              <div class="card-header">
                
              </div>
              <div class="card-body">
                {{comment.comment}}
              </div>
              <div class="card-footer">
                <button class="btn btn-primary" ng-click="deleteComment(comment)">Delete</button>
              </div>
            </div>
          </div>
          <div class="card-footer">
              
          </div>
        </div>
      </div>
    </div>
</div>
