<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1 class="text-center">Profile Edit</h1>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <input type="email" class="form-control" placeholder="email" ng-model="profileEdit.email"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="password" class="form-control" placeholder="password" ng-model="profileEdit.password1"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="password" class="form-control" placeholder="password" ng-model="profileEdit.password2"/>
    </div>
  </div>
  <button class="btn btn-primary" ng-click="save(profileEdit)">Save</button>
</div>