<!--Temp template until chris is done-->
<div class="modal-content" ng-controller="animePopupController">
  <div class="modal-header">
    <h4 class="modal-title text-center">{{clickedItem.title}}</h4>
    <button type="button" class="close text-right" data-dismiss="modal" ng-click="openPopup">&times;</button>
  </div>
  <div class="modal-body">
    <div class="anime-popup-bg" style="background-image:url('{{clickedItem.img}}');">

    </div>
    <div class="container-fluid anime-popup">
      <h1 class="text-center">{{clickedItem.rating}}</h1>
      <h3 class="text-center">{{clickedItem.genres.join(",")}}</h3>
      <div class="row">
        <div class="col-md-6">
          <p>
              {{clickedItem.summary}}
          </p>
        </div>
        <div class="col-md-6">
          <h5>Anime Streaming Services</h5>
          <ul ng-repeat="title in clickedItem.streaming" id="{{title}}">
            <li ng-repeat="(key, value) in title.sites"><a href="{{value}}"><img class="{{key}}"></img></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>Reviews</h5>  
        </div>
        <div class="col-md-6">
          <h5>Threads</h5>  
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  
  </div>
</div>
