<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
                <h1 class="text-center">Account Management</h1>
                <!--We need some way to search all accounts, not just these categories so I've added this-->
                <div class="container">
                        <input type="text" placeholder="Search" class="form-control main-search" ng-model="accountManagement.search" ng-change="inputChanged()">
                </div>
                <div ng-show="accountManagement.searchResults.length > 0">
                    <table st-table="rowCollection" class="table table-striped" style="float: left;">
                        <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Password</th>
                                <th scope="col">Date/Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in accountManagement.searchResults" ng-click="openPopup(profileEditPopup,user)">
                                <td>{{user.username}}</td>
                                <td>{{user.password}}</td>
                                <td>{{user.date}}</td>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Latest Accounts</h3>
            <table st-table="rowCollection" class="table table-striped" style="float: left;">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">Date/Time</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr ng-repeat="user in accountManagement.latestAccounts" ng-click="openPopup(profileEditPopup,user)">
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.date}}</td>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Sessions</h3>
            <table st-table="rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Session</th>
                        <th scope="col">Expires</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr ng-repeat="session in accountManagement.sessions">
                        <td>{{session.session}}</td>
                        <td>{{session.expires}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Suspended</h3>
            <table st-table="rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">Date/Time</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr ng-repeat="user in accountManagement.suspended" ng-click="openPopup(profileEditPopup,user)">
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.date}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

