<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title text-center">Search</h1>
      <input id="homesearch" type="text" placeholder="Search" class="form-control" ng-model="lists.search" ng-change="inputChange()">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div ng-show="lists.search.length > 0">
        <h3 class="text-center">Search Results</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Rating</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="anime in lists.searchResults" ng-class="{'selected':selectedRow==$index}" ng-click="select($index,anime)">
              <td>{{anime.title}}</td>
              <td>{{anime.author}}</td>
              <td>{{anime.rating}}</td>
              <td>{{$index}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
              </td>
            </tr>
          </tfoot>
        </table>
        <div>
          <select ng-model="selected" class="form-control">
            <option value="classics" selected="selected">Classics</option>
            <option value="bestAmerican">Best American</option>
            <option value="bestIndie">Best Indie</option>
          </select>
          <button class="btn btn-primary" ng-click="add(anime)">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">Classics</h3>
      <div ng-show="lists.classics.length > 0">
        <h5>Current</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Rating</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="anime in lists.classics">
              <td>{{anime.title}}</td>
              <td>{{anime.author}}</td>
              <td>{{anime.rating}}</td>
              <td><button class="btn btn-primary" ng-click="delete(anime,'classics')">Delete</button>
            </tr>
          </tbody>
          <tfoot>
              <tr>
                <td colspan="5" class="text-center">
                  <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                </td>
              </tr>
            </tfoot>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Best American</h3>
      <div ng-show="lists.bestAmerican.length > 0">
        <h5>Current</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Rating</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="anime in lists.bestAmerican">
              <td>{{anime.title}}</td>
              <td>{{anime.author}}</td>
              <td>{{anime.rating}}</td>
              <td><button class="btn btn-primary" ng-click="delete(anime,'bestAmerican')">Delete</button>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Best Indie</h3>
      <div ng-show="lists.bestIndie.length > 0">
        <h5>Current</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Rating</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="anime in lists.bestIndie">
              <td>{{anime.title}}</td>
              <td>{{anime.author}}</td>
              <td>{{anime.rating}}</td>
              <td><button class="btn btn-primary" ng-click="delete(anime,'bestIndie')">Delete</button>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
