<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
                <h1 class="text-center">Post Management</h1>
                <!--We need some way to search all accounts, not just these categories so I've added this-->
                <div class="container">
                        <input type="text" placeholder="Search" class="form-control main-search" ng-model="postManagement.search" ng-change="inputChanged()">
                </div>
                <div ng-show="postManagement.search.length > 0">
                    <div class="spinner-container" ng-show="loading">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                    <div ng-show="!loading">
                        <h3>Reviews</h3>
                        <table st-table="rowCollection" class="table table-striped" style="float: left;">
                            <thead>
                                <tr>
                                    <th scope="col">Rating</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Date/Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="post in postManagement.searchResults.reviews" ng-click="openPopup(postEditPopup,post)">
                                    <td>{{post.rating}}</td>
                                    <td>{{post.title}}</td>
                                    <td>{{post.author}}</td>
                                    <td>{{post.date}}</td>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div ng-show="!loading">
                        <h3>Threads</h3>
                        <table st-table="rowCollection" class="table table-striped" style="float: left;">
                            <thead>
                                <tr>
    
                                    <th scope="col">Title</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Date/Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="post in postManagement.searchResults.threads" ng-click="openPopup(postEditPopup,post)">
    
                                    <td>{{post.title}}</td>
                                    <td>{{post.author}}</td>
                                    <td>{{post.date}}</td>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>
